.DS_Store
*.g.*
*.sublime*

node_modules
/examples/**/out
/examples/**/package-lock.json
/examples/**/node_modules
/examples/**/docs/app.js*
/examples/**/tmp*
/_local
/dist/*.g.*
/dist/*.mark
/.test
/test/**/tmp-*

# typedefs copied from /estrella.d.ts to support development
/dist/estrella.d.ts
